html { overflow: -moz-scrollbars-vertical; }
html, body { height: 100%; margin: 0; padding: 0; }
body { background: #fff; font: 11px Verdana, Arial, sans-serif; color: #666; }
#top { position: relative; height: 131px; width: 982px; margin-bottom: 10px; }
#login { position: absolute; top: 65px; left: 885px; }
#forgot { position: absolute; top: 65px; left: 803px; }
td { vertical-align: top; padding: 0; }
A:link, A:active, A:visited { text-decoration: none; }
A:hover { text-decoration: underline; }
A.down { color: #999; } A.down:hover { text-decoration: underline; }

A.wht { color: #fff; }
.brd_on { border: 1px solid #ff9900; }
.nrm { font-weight: normal; }
.v { font-family: verdana; font-size: 10px; }
.em {font-style: italic;}

.cur { cursor: pointer; }
.bg_wht { background: #fff; }
.hd { padding-top: 30px; }
.about { color: #792a2c; }
form { margin: 0; padding: 0; }
.blk { color: #666; }
img { border: 0; }
.brd_btm { border-bottom: 1px solid #d0d3cf; }
.pdg { padding: 5px; }
.pdg_l { padding-left: 5px; }
.pdg_t { padding-top: 5px; }
.pdg_tt { padding-top: 2px; }
.spac { border-bottom: 1px solid #fff; }
.spac0 { border-bottom: 0px solid #fff; }
.mb { margin-bottom: 10px; }
.ml { margin-left: 10px; }
.mm { margin-left: 1px; }
.mr { margin-right: 20px; }
.mid { vertical-align: middle; }
.clr { clear: both; height: 0px; margin: 0; overflow: hidden; }
hr { clear: both; border: 0; border-bottom: 1px solid #D0CFCB; padding: 8px 0 0 0; background: transparent; color: #f8f8f8; }
img.brd { border: 1px solid #fff; }
img.bbrd { border: 1px solid #b5b5b5; }
.user { font-style: normal; font-weight: bold; }
a.user:hover { text-decoration: none; }
.age { color: #974b4b; }
.user img { margin: 0 3px -3px 0; }
.user_info { font-style: normal; color: #000; font-weight: normal; }
h1 { line-height: 17px; font-size: 18px; margin: 0 0 3px 0; font-family: Trebuchet MS; letter-spacing: -1px; font-weight: bold; }
h5 { font-size: 11px; padding: 0; margin: 0 0 5px 0; font-weight: normal; }
h3 { font-size: 14px; margin: 2px 0 5px 0; font-weight: bold; }
h4 { font-size: 11px; margin: 2px 0 5px 0; font-weight: bold; }
h6 { font-size: 10px; margin: 2px 0 5px 0; font-weight: bold; }
.sml { font-size: 10px; }
.l { float: left; }
.no { padding: 0; margin: 0; }
.r { float: right; }
.btm { vertical-align: bottom; }
.bld { font-weight: bold; }
.bld_red { font-weight: bold; color: red;}
.tl { font-family: Verdana; color: #333; font-size: 9px; letter-spacing: -1px; }
.mrg { margin: 5px; }
.wht { color: #fff; }
.i { display: inline; }
.cnt { text-align: center; }
.cnti { margin-left: auto; margin-right: auto; }
.lft { text-align: left; }
.rgt { text-align: right; }
textarea.txt { font-family: Arial; font-size: 11px; overflow: hidden; padding: 2px 0 0 2px; }
input.txt, input.pass { border: 1px solid #b2b2b2; width: 130px; height: 19px; font-size: 11px; padding: 4px 0 0 3px; }
input.txt { font-family: Arial; }
input.txtsmall { border: 1px solid #b2b2b2; height: 19px; font-size: 11px; padding: 4px 0 0 3px; }

input.pass { font-family: Fixedsys, Courier New; font-size: 10px; }
select { border: 1px solid #b2b2b2; font-family: Arial; height: 24px; font-size: 12px; padding: 2px 0 0 2px; }
p { margin: 0; padding: 5px 5px 5px 5px; }

.btn2_med { border: 0; padding: 0; background: url('/_objects/btn2_med.png'); width: 90px; height: 30px; color: #fff; font-weight: bold; font-size: 12px; cursor: pointer; margin: 5px 5px 5px 0; }
.btn2_midi { border: 0; padding: 0; background: url('/_objects/btn2_midi.png'); width: 67px; height: 20px; color: #fff; font-weight: bold; font-size: 12px; cursor: pointer; margin: 5px 5px 5px 0; }
.btn3_min { border: 0; padding: 0; background: url('/_objects/btn3_min.png'); width: 78px; height: 20px; color: #fff; font-weight: bold; font-size: 12px; cursor: pointer; margin: 5px 5px 5px 0; }
.btn3_med { border: 0; padding: 0; background: url('/_objects/btn3_med.png'); width: 90px; height: 30px; color: #fff; font-weight: bold; font-size: 12px; cursor: pointer; margin: 5px 5px 5px 0; }
.btn3_sml { border: 0; padding: 0; background: url('/_objects/btn3_sml.png'); width: 50px; height: 30px; color: #fff; font-weight: bold; font-size: 12px; cursor: pointer; margin: 5px 5px 5px 0; }
#headContent { position: relative; height: 131px; width: 982px; margin-bottom: 10px; background-image: url('/_objects/top.png'); background-repeat: no-repeat; }
#bigContent { float: left; margin: 0 0 0 15px; width: 786px; overflow: hidden; }
#wholeContent { text-align: center; width: 982px; overflow: hidden; }
.smallHeader1 { width: 176px; height: 27px; color: #fff; background: url('/_objects/box_header_small1.png'); background-repeat: no-repeat; }
.smallHeader2 { width: 176px; height: 27px; color: #fff; background: url('/_objects/box_header_small2.png'); background-repeat: no-repeat; }
.smallHeader3 { width: 176px; height: 27px; color: #fff; background: url('/_objects/box_header_small3.png'); background-repeat: no-repeat; }
.mainHeader2 { width: 596px; height: 27px; color: #fff; background: url('/_objects/box_header_main2.png'); background-repeat: no-repeat; }
.bigHeader2 { width: 786px; height: 27px; color: #fff; background: url('/_objects/box_header_big2.png'); background-repeat: no-repeat; }
.wholeHeader2 { text-align: left; margin: 0 auto 0 auto; width: 596px; height: 27px; color: #fff; background: url('/_objects/box_header_big2.png'); background-repeat: no-repeat; }
.wholeHeader2 h4, .mainHeader2 h4, .bigHeader2 h4, .smallHeader1 h4, .smallHeader2 h4, .smallHeader3 h4 { line-height: 20px; font-weight: bold; font-size: 12px; padding: 4px 0 0 5px; margin: 0; }
.wholeHeader2 a, .mainHeader2 a, .bigHeader2 a, .smallHeader1 a, .smallHeader2 a, .smallHeader3 a, .btnon { color: #fffe9f; }
.smallWholeContent { width: 176px; }
.popupWholeContent { width: 176px; margin-top: 20px; }
.content { width: 596px; overflow: hidden; }
.smallFilled1 { width: 176px; margin-bottom: 10px; background: #899187; }
.smallBoxed1 { width: 174px; border: 1px solid #899187; border-width: 0 1px 1px 1px; margin-bottom: 10px; }
.smallFilled2 { width: 176px; margin-bottom: 10px; background: #7ba06d; }
.smallBoxed2 { width: 174px; border: 1px solid #7ba06d; border-width: 0 1px 1px 1px; margin-bottom: 10px; }
.smallBoxed3 { width: 174px; border: 1px solid #974949; border-width: 0 1px 1px 1px; margin-bottom: 10px; }
.smallBoxed { width: 162px; }
.smallFilled3 { width: 174px; border: 1px solid #974949; border-width: 0 1px 1px 1px; margin-bottom: 10px; }
.mainBoxed2 { width: 594px; border: 1px solid #7ba06d; border-width: 0 1px 1px 1px; margin-bottom: 10px; }
.bigBoxed2 { width: 784px; border: 1px solid #7ba06d; border-width: 0 1px 1px 1px; margin-bottom: 10px; }
.mainFilled2 { width: 586px; padding: 5px; margin-bottom: 10px; background: #7ba06d; }
.wholeBoxed2 { width: 594px; text-align: left; margin: 0 auto 10px auto; border: 1px solid #7ba06d; border-width: 0 1px 1px 1px; }
.msgList { width: 596px; }
.msgListImage { width: 55px; }
.msgListEven { background: #ecf1ea; }
.msgWrite { width: 160px; height: 100px; }
#userMenu { margin-bottom: 20px; }
#diverse { width: 176px; }
#diverse td { padding: 2px 2px 3px 2px; table-layout: fixed; }
#diverse .rgt, #diverse .lft, #diverse .rgt div, #diverse .lft div { overflow: hidden; width: 80px; }
#diverse .rgt { color: #974b4b; }
#diverse .lft { color: #4c5195; }
#diverse .rgt, #diverse .lft, #diverse .cnt { vertical-align: middle; }
#diverse .cnt { padding: 2px 3px 3px 3px; }
#diverse .usr, #diverse .usr { height: 32px; }
.nobr { white-space: nowrap; }
#text_container { background-color: #FFF; font-family: Georgia, Verdana, Arial, sans-serif; }
#text_container p { margin: 0; padding: 0; }

