body {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}

/* for file gadget */
.file_gadget_holder {
	width: 460px;
	height: 500px;
	background-color: #aaeecc;
	border: 1px solid #888;
	margin-bottom: 5px;
	
	overflow-y: auto;	/**/
}

.file_gadget_entry {
	float: left;
	width: 100px;
	height: 80px;
	border: 5px solid #aaa;
	background-color: #aaa;

	opacity: 0.7;
	filter: alpha(opacity=70);	/*ie6*/

}
.file_gadget_entry:hover {
	border: 5px solid #cceecc;
	background-color: #cceecc;
	cursor: pointer;

	opacity: 1.0;
	filter: alpha(opacity=100);	/*ie6*/
}

.file_gadget_upload {
	float: left;
	padding: 5px;
	width: 450px;
	background-color: #aaeecc;
	border: 1px solid #888;
	margin-bottom: 5px;
}

#zoom_image_backgroundlayer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	z-index: 1;
	opacity: 0.8;
}
#zoom_image_holder {
	opacity: 1.0; /* todo: bilden som visas är inte opaque*/
	z-index: 100;
}

#zoom_image_holder img {
	border: 3px solid #000;
}