body {
	margin: 0;
	padding: 0;
	font-family: helvetica,verdana,arial;
}
img {
	border: 0;
}
/* General: <input type="text"> */
input {
	border:1px solid #8CACBB;
	background: #fff url(/gfx/input_shadow.png) repeat-x scroll center top;
	
	margin:1px;
	padding:0.2em 0.3em;
	vertical-align:middle;
}
input:focus {
	border:1px solid #aaa;
	background: #fff;
}

/* General: <input type="button"> */
input.button {
	border:1px solid #888;
	background: #fff url(/gfx/button_shadow.png) repeat-x scroll center bottom;
	color: #000;
}
input.button:focus {
	border:1px solid #aaa;
	background: #fff;
}

select {
	border:1px solid #888;
	color: #000;
}

/* holder for file gadget, contains all the other parts */
.file_gadget {
	width: 630px;
	max-height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
	
	border: 1px solid #aaa;
	background-color: #DDD;
	padding: 10px;
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;	
}
/* style of header for file gadget */
.file_gadget_header {

	background-color: #fff;
	font-weight: bold;
	
	border: 1px solid #aaa;
	padding: 10px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;	
}

/* holds all file entries */
.file_gadget_content {

}

.file_gadget_entry {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #aaa;
	padding: 5px;

	opacity: 0.7;
	filter: alpha(opacity=70);	/*ie6*/
}
.file_gadget_entry:hover {
	background-color: #cceecc;
	cursor: pointer;

	opacity: 1.0;
	filter: alpha(opacity=100);	/*ie6*/
}

#file_gadget_upload {
	float: left;
	padding: 5px;
	border: 1px solid #888;
	margin-bottom: 5px;
	width: 98%;
}
#file_gadget_category {
	float: left;
	padding: 5px;
	border: 1px solid #888;
	margin-bottom: 5px;
	width: 98%;
}

/* show thumbnails gadget */
.thumbnails_gadget {
	width: 100%;
}

.thumbnails_gadget_entry {
	width: 70px;
	height: 60px;
}

.thumbnails_gadget_entry:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);	/*ie6*/
}


/* for image zoomin gadget */
.zoom_image_layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	margin: 0;
	padding: 0;
}
#zoom_image {
	border: 3px solid #000;
}
#zoom_image_info {
	width: 300px;
	border: 3px solid #000;
	padding: 5px;
}




/* for login box gadget */
.login_box {
	font-size: 14px;
	border: 1px solid #aaa;
	width: 280px;
	color: #000;
	background-color: #DDD;
	padding: 10px;
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
}

.event_log_notice {
	color: #000;
	background-color: #aaeeaa;
	padding: 4px;
}
.event_log_warning {
	color: #000;
	background-color: #eeaaaa;
	padding: 4px;
}
.event_log_error {
	color: #000;
	background-color: #ee5555;
	padding: 4px;
}


/* wiki style */
.wiki {
	font-size: 14px;
}
.wiki_body {
	padding: 10px;
	background-color: #F0F0F0;
	color: #000;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
}
.wiki_locked {
	padding: 5px;
	padding-left: 25px;
	font-size: 20px;
	background: #ee99aa url('/gfx/icon_locked.png') no-repeat;
	background-position: 5px 50%;
}
.wiki_menu {
	font-size: 12px;
}
.wiki_menu li {
	margin-left: 2px;
	margin-right: 2px;
	display: inline;
	border: 1px #000 solid;
	background-color: #ddd;
	padding: 4px;
	
}
.wiki_menu li a {
	color: #000;
	text-decoration: none;
}
.wiki_menu li:hover {
	background-color: #fff;
}


/* default styles for "user settings" list */
.edit_settings {
 width: 300px;
 background-color: #88EE99;
 border: 1px solid #aaa;
 padding: 5px;
}



/* used to make lists */
._row_container {
	color: #595930;
	background-color: #E1E2B9;

}

._row_container:hover {
	background-color: #AAC8E4;

}

._row_col1 {
	float: left;
	padding: 5px;
}
._row_col2 {
	/* background-color: #aaa; */
	padding: 5px;
}

/* used to mark something important, like a error message */
.critical {
	color: #000;
	padding: 5px;
	padding-left: 25px;
	line-height: 20px;
	background: #FB9B9B url('/gfx/icon_error.png') no-repeat;
	background-position: 5px 50%;
}

.okay {
	color: #000;
	padding: 5px;
	padding-left: 25px;
	line-height: 20px;
	background: #B1F9AA url('/gfx/icon_good.png') no-repeat;
	background-position: 5px 50%;
}

/* revision elements */
.revision_entry {
	overflow:auto;
	width:100%;
	border: #000000 1px solid;
	background-color:#E0E0E0;
}


.ulli_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #E1E2B9;
	border-top: 0;
}
.ulli_menu li {
	border: 1px solid #E1E2B9;
}
.ulli_menu li:hover {
	border: 1px solid #CCCCCC;
}
.ulli_menu a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
.ulli_menu a:hover {
	background-color: #FFFFFF;
}
.ulli_menu ul {
	list-style: none;
}
.ulli_menu_current {
	background-color: #eee !important;
}

.blog {
	font-size: 14px;	
}
.blog_head, .blog_foot {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px #888 solid;
}
.blog_title {
	font-size: 22px;
	font-weight: bold;
}
.blog_body {
	padding: 10px;
	background-color: #ABDFF8;
	border: 1px #888 solid;
}
.blog_foot {
	font-weight: bold;
}


.blog_menu {
	font-size: 12px;
}
.blog_menu li {
	margin-left: 2px;
	margin-right: 2px;
	display: inline;
	border: 1px #888 solid;
	background-color: #fff;
	padding: 4px;
	
}
.blog_menu li a {
	color: #000;
	text-decoration: none;
}
.blog_menu li:hover {
	background-color: #eee;
}

.blogs_cathead {
	padding: 10px;
	border: 1px #888 solid;
	background-color: #eee;
	font-size: 16px;
	font-weight: bold;
}

.news {
}
.news_top {
	-moz-border-radius-topleft:15px;
	-moz-border-radius-bottomright:15px;	
	background-color: #fff;
	border: 1px #888 solid;
	padding: 10px;
	font-size: 12px;
}
.news_title {
	font-size: 20px;
}
.news_title_rss {
	font-size: 20px;
	background: url('/gfx/icon_rss.png') no-repeat;
	background-position: 100% 50%;
}
.news_head { /* news article heading */
	-moz-border-radius-topleft:15px;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	border: 1px #888 solid;
	border-bottom: 0px;
	background-color: #eee;
}
.news_body { /* news article body */
	-moz-border-radius-bottomright:15px;
	font-size: 12px;
	padding: 10px;
	border: 1px #888 solid;
	background-color: #eee;
}
.news_rate {
	font-size: 12px;
	padding: 10px;
	border: 1px #888 solid;
	background-color: #eee;
}

.comment_header {
	font-size: 16px;
	padding: 10px;
	margin: 4px;
	border: 1px #888 solid;
	cursor: pointer;
}
.comment_text {
	padding: 10px;
	border: 1px #888 solid;
	border-bottom: 0px;
	background-color: #eee;
}
.comment_details {
	padding: 10px;
	border: 1px #888 solid;
	border-top: 0px;
	background-color: #ccc;
	margin-bottom: 5px;
}

.guestbook_entry {
	padding: 10px;
	background-color: #eee;
	border: 1px #888 solid;
}
.guestbook_entry_head {
	font-weight: bold;
}

/* generic container for text */
.item {
	padding: 10px;
	border: 1px #888 solid;
	background-color: #dbc9ea;
}
.item_head {
	font-size: 16px;
	font-weight: bold;
}

.admin_stopword {
	border: 1px #888 solid;
	padding: 10px;
	background-color: #fff;
	width: 200px;
	float: left;
	margin: 5px;
}