body {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}

/* for file gadget */
.file_gadget_holder {
	width: 460px;
	height: 500px;
	background-color: #aaeecc;
	border: 1px solid #888;
	margin-bottom: 5px;
	
	overflow-y: auto;	/**/
}

.file_gadget_entry {
	float: left;
	width: 100px;
	height: 80px;
	border: 5px solid #aaa;
	background-color: #aaa;
}
.file_gadget_entry:hover {
	border: 5px solid #eee;
	background-color: #eee;
	cursor: pointer;
}

.file_gadget_upload {
	float: left;
	padding: 5px;
	width: 450px;
	background-color: #aaeecc;
	border: 1px solid #888;
	margin-bottom: 5px;
}

#zoom_image {
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.8;
}
#zoom_image img {
	opacity:0.999999;
	border: 3px solid #000;
}