/* css shared between the different themes */

.quickchat_blink {
	width: 176px;
	height: 27px;
	color: #fff;
	background: url('/_gfx/talk_anim.gif');
	background-repeat: no-repeat;
}

.quickchat_blink h4 {
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
	padding: 4px 0 0 5px;
	margin: 0;
}

#top_logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 242px;
	height: 94px;
}

#top_bg {
	position: absolute;
	top: 10px;
	left: 252px;
	width: 735px;
	height: 94px;
}

#top_ad {
	position: absolute;
	top: 10px;
	left: 257px;
	border: 1px #000 solid;
}
#top_border { /* holds border image */
	position: absolute;
	top: 8px;
	left: 8px;
}

/* topp-menyn */
ul#menu_main {
	position: absolute;
	left: 10px;
	top: 104px;
	width: 965px;
	height: 13px;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	color: #fff;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
ul#menu_main li {
	margin-top: 3px;
	display: inline;
}
ul#menu_main a {
	color: #fff;
	text-decoration: none;
}

/* topp-user-menyn */
ul#menu_user {
	position: absolute;
	left: 10px;
	top: 128px;
	width: 964px;
	height: 13px;
	color: #000;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
ul#menu_user li {
	margin-top: 3px;
	display: inline;
}
ul#menu_user a {
	color: #000;
	text-decoration: none;
}


#contentContainer {
	position: absolute;
	top: 160px;
	left: 10px;
	width: 980px;

}
#leftMenu {
	float: left;
	width: 176px;
}

/* detta är huvudinnehållet */
#mainContent {
	float: left;
	width: 602px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	min-height: 464px;
}

/* för startsidan etc, där högermeny saknas */
#bigContent {
	overflow: hidden;
	z-index: 10;
	float: left;
	width: 784px;
	padding-left: 10px;
	min-height: 464px;
}


#rightMenu {
	float: left;
	width: 176px;
}

.smallHeader {
	background: url('/_gfx/themes/header_small.png');
	background-repeat: no-repeat;
	width: 169px;
	height: 19px;
	padding-left: 8px;
	padding-top: 4px;
	color: #fff;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.smallHeader a {
	color: #fff;
}
.smallBody {
	width: 164px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 5px;
	text-align: left;
	overflow-x: hidden;
}

.mediumHeader {
	background: url('/_gfx/themes/header_medium.png');
	background-repeat: no-repeat;
	width: 282px;
	height: 19px;
	padding-left: 8px;
	padding-top: 4px;
	color: #fff;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
}
.mediumBody {
	width: 278px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 5px;
}

.bigHeader {
	background: url('/_gfx/themes/header_big.png');
	background-repeat: no-repeat;
	width: 596px;
	height: 19px;
	padding-left: 8px;
	padding-top: 4px;
	color: #fff;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.bigBody {
	width: 591px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 5px;
	text-align: left;
}

.bigHeader a {
	background-color: #fff;
	color: #000;
}


.btnNormal, .btnSelected {
	cursor: pointer;
	margin-right: 2px;
	float: left;
	position: relative;

	color: #000;
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
}

.btn2_sml {
	border: 0;
	padding: 0;
	background: url('/_gfx/themes/btn2_sml.png');
	width: 50px;
	height: 25px;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	cursor: pointer;
}

.btn2_min {
	border: 0;
	padding: 0;
	background: url('/_gfx/themes/btn2_min.png');
	width: 78px;
	height: 20px;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	margin: 5px 5px 5px 0;
}

.friends_list {
	list-style: none;
	margin: 0;
	border-top: 0;
	padding-left: 0;
}
.friends_list li {
}
.friends_list a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
.friends_list ul {
	list-style: none;
}

#userInfo {
	float: left;
}
.userName {
	font-size: 15px;
	padding-bottom: 10px;
}

#userImage {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
#userImage img {
	border: 1px solid #888;
}

#userDetail {
	float: right;
	text-align: right;
}

.subHead {
	font-family: georgia;
	font-weight: bold;
	font-size: 30px;
}

#foot { width: 982px; color: #999; text-align: right; font-size: 10px; margin: 10px 0 0 0; padding: 5px 0 17px 0; border-top: 1px solid #ccc; }

.centerMenuBodyWhite { width: 594px; background: #fff; border: 1px solid #ccc; }

A { color: #666; }

.on_man, .on_kvinna { font-weight: bold; }
.off_man, .off_kvinna { font-weight: normal; }

.on_kvinna, .off_kvinna { color: #974b4b; }
.on_man, .off_man { color: #4c5195; }

.startPageBody {
	min-height: 300px;
	height: auto !important; height: 300px; /* ie6 hack to simulate min-height */
	background: url('/_gfx/themes/start_gfx.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
}