#top_img { position: absolute; top: 0px; left: 0px; }

#top_online { position: absolute; top: 5px; left: 840px; width: 137px; height: 90px; text-align: center; background: url('/_objects/bg_online.png'); }
#top_online_off { position: absolute; left: 770px; top: 8px; }
#top_online_off .top { padding: 0 5px 3px 0; }
#top_online_off .bottom { padding: 2px 5px 4px 0; }
#top_online table { width: 127px; margin-right: auto; text-align: left; margin: 5px 5px 5px auto; }

#top_ad { position: absolute; top: 20px; left: 352px; border: 1px solid #b4b9b3; }
#top_ad img { margin: 1px; }

ul#top_menu { color: #fff; list-style-type: none; position: absolute; left: 20px; top: 99px; margin: 0; padding: 0; }
ul#top_menu li { margin-top: 3px; display: inline; font-size: 16px; }
ul#top_menu a { color: #fff; text-decoration: none; }


#userfind { position: absolute; top: 75px; left: 838px; }
#userfind_inp { margin: 0 0 -4px 0; }
#logout { position: absolute; top: 103px; left: 958px; }

.leftMenuHeader { width: 176px; height: 23px; padding-left: 8px; padding-top: 4px; font-size: 16px; color: #fff; background: url('/_gfx/left_menu_header1.png'); background-repeat: no-repeat; }
.leftMenuFooter { width: 176px; height: 22px; background: url('/_gfx/left_menu_footer1.png'); background-repeat: no-repeat; margin-bottom: 10px; }
.leftMenuFooterGray { width: 176px; height: 2px; background: url('/_gfx/left_menu_footer_gray.png'); background-repeat: no-repeat; margin-bottom: 10px; }

.leftMenuBodyGreen { width: 176px; background: #75C66A; }
.leftMenuBodyGray { width: 173px; background: #b2b7b0; border-top: 1px solid #ccc; border-left: 1px solid #75C66A; border-right: 1px solid #75C66A; }
.leftMenuBodyWhite { width: 174px; background: #fff; border: 1px solid #ccc; }

.centerMenuHeader { width: 596px; height: 23px; padding-left: 8px; padding-top: 4px; font-size: 16px; color: #fff; background: url('/_gfx/left_menu_header2.png'); background-repeat: no-repeat; }
.centerMenuBodyWhite { width: 594px; background: #fff; border: 1px solid #ccc; }

.centerMenuHeaderSmall { width: 290px; height: 23px; padding-left: 8px; padding-top: 4px; font-size: 16px; color: #fff; background: url('/_gfx/left_menu_header3.png'); background-repeat: no-repeat; }
.centerMenuBodySmallWhite { width: 280px; background: #fff; border: 1px solid #ccc; padding: 5px; margin-bottom: 10px; }


ul.user_menu { list-style-type: none; margin: 0 0 0 10px; padding: 6px 0 0 0; }
ul.user_menu li { padding-top: 5px; height: 19px; font-size: 12px; background: url('/_gfx/left_menu_line.png'); background-repeat: no-repeat; }
ul.user_menu img { margin: 0 8px -4px 2px; }
ul.user_menu a { display: block; margin-right: 15px; }
ul.user_menu span.i { cursor: pointer; float: right; margin-top: 2px; }
ul.user_menu a:hover { text-decoration: none; color: #000; }

.smallMiniFilled1 { width: 174px; background: #b2b7b0; border-top: 1px solid #d0d3cf; }

/* profile */
#userImage { float: left; margin-bottom: 5px; border: 1px solid #899187; }

.btnNormal, .btnSelected { cursor: pointer; margin-right: 2px; font-size: 12px; color: #fff; float: left; font-family: arial; position: relative; }
.btnNormal { background-color: #7BCE73; /* green */ }
.btnNormal:hover, .btnSelected:hover { background-color: #CAA8A8; /* light red */ }
.btnSelected { background-color: #995F5F; /* red */ }

#contentContainer { margin: 0 0 0 2px; }
#leftMenu { float: left; width: 176px; }

/* högermenyn */
#rightMenu {
	position: absolute;
	top: 140px;
	left: 800px;
	width: 176px;
}

/* detta är huvudinnehållet */
#mainContent {
	margin: 0 0 0 15px;
	width: 596px;
	overflow: hidden;
	position: absolute;
	top: 140px;
	left: 176px;
}

