body {
	margin: 0;
	padding: 0;

	background-color: #fff;
	color: #000;
	font-size: 12px;
}

#menu {
	color: #000;
	background-color: #D80911;
	width: 1000px;
	height: 80px;
	position: absolute;
	top: 640px;
	left: 105px;
	font-family: verdana;
}

#menu a {
	color: #000;
}

#menu a:hover {
	text-decoration: underline;
}

#footer {
	width: 1000px;
	height: 20px;
	position: absolute;
	top: 725px;
	left: 0px;
	text-align: center;
}
#footer a {
	color: #aaa;
	text-decoration: none;
}

#image_big_holder {
	position: absolute;
	top: 20px;
	left: 340px;
}

#image_big {
	border: 2px #000 solid;
	min-width: 100px;
	min-height: 100px;
}

#image_comments {
	position: absolute;
	top: 70px;
	left: 105px;
	
	background-color: #D80911;
	width: 212px;
	height: 610px;
	float: left;
	padding: 5px;
}

#image_thumbs_scroller {
	height: 480px;
	width: 70px;
	position: absolute;
	top: 110px;
	left: 20px;
	border: 2px #000 solid;

	overflow: hidden;	/* required for scroll */
}

#image_thumbs_scroll_up {
	width: 35px;
	height: 7px;
	position: absolute;
	top: 91px;
	left: 38px;
	background: url('../gfx/scroll_up.png');
}

#image_thumbs_scroll_down {
	width: 35px;
	height: 7px;
	position: absolute;
	top: 606px;
	left: 38px;
	background: url('../gfx/scroll_down.png');
}

#comments_only {
	height: 440px;
	overflow: auto;	/* required for scroll */
}

.comment_header {
	background-color: #D80911;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#comments_holder {
	background-color: #D80911;
}

#corvette_emblem {
	width: 103px;
	height: 94px;
	background-color: #aaeeaa;
	position: absolute;
	top: 628px;
	left: 0px;

	background: url('../gfx/corvette_emblem.png');
}

#stingray_logo {
	width: 234px;
	height: 58px;
	background-color: #aaeeaa;
	position: absolute;
	top: 7px;
	left: 96px;

	background: url('../gfx/stingray_logo.png');
}