body {
	margin: 0;
	padding: 0;
}

#search_box {
	background-color: #ddeeff;
	font: 10px verdana;
	width: 200px;
}

#search_results {
	width: 200px;
	font: 10px verdana;
}
#search_results a {
	text-decoration: none;
	color: #222;
}

div.search_result_0 {
	background-color: #eeddee;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
div.search_result_0:hover {
	background-color: #ddccdd;
}

div.search_result_1 {
	background-color: #eeffee;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

div.search_result_1:hover {
	background-color: #ddeedd;
}
