[Warriorplayername]
Food=Iron Ration
Water=Water Flask
ClickyGauntletsOfBattle=1
ClickyShroudDefender=1
ClickyJboots=0
AutoTaunt=0
useClickyAttack=1
useClickyDS=1
useClickyResists=1

[Beastlordplayername]
Food=Iron Ration
Water=Water Flask
useClickyAttack=1
useClickyDS=1
useClickyResists=1

[Druidplayername]
Food=Rye of Eternity
Water=Water of Eternity
ClickyJboots=0
DontBuffGroupMembers=1
useClickyDS=1
useClickyResists=1
DontBuffWhenBusy=0

[Monkplayername]
Food=Ohabah Truffles
Water=Fuzzlecutter Formula 5000
AutoMend=1
ClickyEyepatchOfPlunder=1
useClickyAttack=1
useClickyDS=1
useClickyResists=1

[Rogueplayername]
AutoDisarm=1
useClickyAttack=1
useClickyDS=1
useClickyResists=1

[Clericplayername]
Food=Iron Ration
Water=Fuzzlecutter Formula 5000
DontBuffGroupMembers=1
useClickyDS=1
useClickyResists=1


[Playername_AllowedPlayers]
Onefriend=1
Otherfriend=1


[Enchanter_RecognizedBuffs]
c6=Clairvoyance
clair=Clairvoyance
clairvoyance=Clairvoyance
god=Guard of Druzzil
haste=Speed of Salik


[Paladin_RecognizedBuffs]
brells=Brell's Brawny Bulwark


[Beastlord_RecognizedBuffs]
sa=Spiritual Ascendance
jasinth=Talisman of Jasinth
jacinth=Talisman of Jasinth
focus=Focus of Alladnu
stamina=Stamina
sta=Stamina
haste=Celerity
ferocity=Ferocity of Irionu
sv=Spiritual Vitality
dexterity=Dexterity
dex=Dexterity
ios=Infusion of Spirit
regen=Feral Vigor
sow=Spirit of Wolf


[Shaman_RecognizedBuffs]
wunshi=Wunshi's Focusing
wunshis=Wunshi's Focusing
wunshi's=Wunshi's Focusing
sushi=Wunshi's Focusing
focus=Wunshi's Focusing
fokus=Wunshi's Focusing
7=Wunshi's Focusing
sta=Spirit of Fortitude
stamina=Spirit of Fortitude
fort=Spirit of Fortitude
fortitude=Spirit of Fortitude
boar=Spirit of Fortitude
regen=Spirit of Perseverance
might=Spirit of Might
str=Spirit of Might
strength=Spirit of Might
sense=Spirit of Sense
sos=Spirit of Sense
agi=Spirit of Sense
inv=Invisibility
invis=Invisibility
fa=Ferine Avatar
avatar=Ferine Avatar
hot=Quiescence
heal=Yoppa's Mending
haste=Swift Like the Wind
tot=Talisman of the Tribunal
sow=Spirit of Bih`Li
billy=Spirit of Bih`Li
bihli=Spirit of Bih`Li
shrink=Shrink
shrinkall=Tiny Terror


[Shadowknight_RecognizedBuffs]
thule=Voice of Thule


[Cleric_RecognizedBuffs]
heal=Pious Remedy
hot=Pious Elixir
grpsymbol=Balikor's Mark
symbol=Symbol of Balikor
haste=Blessing of Devotion
bod=Blessing of Devotion
devotion=Blessing of Devotion
cv=Conviction
conv=Conviction
convic=Conviction
conviction=Conviction
ch=Complete Healing
temp=Temperance
virtue=Virtue
ac=Ward of Valiance
ward=Ward of Valiance
wov=Ward of Valiance
vie=Panoply of Vie
bind=Bind Affinity
valor=Confidence
cure=Antidote
rgc=Remove Greater Curse
rc=Resplendent Cure
di=Divine Intervention

[Druid_RecognizedBuffs]
po9=Steeloak Skin
pot9=Steeloak Skin
9=Steeloak Skin
10=Steeloak Skin
nine=Steeloak Skin
pot10=Steeloak Skin
stealoak=Steeloak Skin
steeloak=Steeloak Skin
steelowk=Steeloak Skin
steeloak skin=Steeloak Skin
ss=Steeloak Skin
sos=Steeloak Skin
steal=Steeloak Skin
skin=Steeloak Skin
steel=Steeloak Skin
oak=Steeloak Skin
sotg=Spirit of the Grove
rc=Resplendent Cure
rgc=Remove Greater Curse
bigds=Wrath of the Wild

sow=Spirit of Wolf
spirit of wolf=Spirit of Wolf
soe=Spirit of Eagle
eagle=Spirit of Eagle
spirit of eagle=Spirit of Eagle
spirit of eagles=Spirit of Eagle
foe=Flight of Eagles
flight of eagle=Flight of Eagles
flight of eagles=Flight of Eagles

pos=Protection of Seasons
season=Protection of Seasons
seasons=Protection of Seasons

summer=Circle of Summer
circle=Circle of Summer

str=Nature's Might
natures might=Nature's Might

lion=Lion's Strength
lions=Lion's Strength
lions strength=Lion's Strength

eb=Everlasting Breath
ds=Circle of Nettles
regen=Oaken Vigor
invis=Cloak of Nature
;heal=Sylvan Infusion


[Ranger_RecognizedBuffs]
regen=Hunter's Vigor
Veil=Nature Veil
Nature Veil=Nature Veil
Winter=Circle of Winter
Circle of Winter=Circle of Winter
Summer=Circle of Summer
Circle of Summer=Circle of Summer
str=Storm Strength
Strength=Storm Strength
goe=Guard of the Earth
ac=Guard of the Earth
gote=Guard of the Earth
earth=Guard of the Earth
hop=Howl of the Predator
HotP=Howl of the Predator
hotp=Howl of the Predator
Howl=Howl of the Predator
Predator=Howl of the Predator
predator=Howl of the Predator
pred=Howl of the Predator
atk=Howl of the Predator
Hunter=Strength of the Hunter
hunter=Strength of the Hunter
Tunare=Strength of the Hunter
sot=Strength of the Hunter
sow=Spirit of Wolf
soe=Spirit of Eagle
soh=Strength of the Hunter


[DebuffNotes]
Wind of Tashanian=RC1
Tashania=RC1
Malo=RC1

;kt trash mobs:
Kneeshatter=RC6

;nest trash mobs:
Bile Breath=RC6

;mpg trash mob:
Skullpierce=mana dot
Galdorin's Alluring Lullaby=mez
Chaotica=RGC (mana drain)

;rss:
Infected Bite=RC6/2x PB (hp dot)
Freezing Touch=RC1 (mez)

;anguish:
Flail of the Muramite=mana dot,-300 MR
Blade of the Muramite=RGC

;anguish-keldovan the harrier
Packmaster's Curse=RGC (spell efficency reduced)

;anguish-ture:
Swamp Breath=PB (hp dot)

;anguish-jelvan:
Touch of Anguish=-475 cold (30 poison cnt) east
Wail of Anguish=10 sec stun -475 disease west
Gaze of Anguish=2x PB manadrain, -475 cold (30 disease cnt) south

;anguish-warden hanvar:
Chains of Anguish=2x RGC (slow)
Feedback Dispersion=2x RGC (mana dot), -400 avg

;anguish-arch magus:
Mark of Death=PB (KILLS!)

;mpg raid trial arcania:
Imprecision=PB
Rigidity=PB
Curse of Misfortune=RGC/RC6
Impurity=cant fix

;mpg trial mastery of endurance raid:
Complex Gravity=Uncurable, -450 MR

;mpg trial corruption (epic 1.0 mobs):
Rapture=Mezzed!
Dictate=Charmed!

;mpg trial adaption (?):
Gaze of the Pyrilen=mana dot
Breath of the Gelidran=snare

;don missions:
Gravel Rain=72 curse counter

;Uqua-Vrex Barxt Qurat:
Creeping Fury=RGC?

;txevu stuff:
Visions of Pain=RGC
Fulmination=3x PB (mana drain)
Corrupted Laceration=dont know how to cure

;txevu high priest script:
Spiritual Possession=charm
Wrath of Trushar=RGC (hp drain)

;txevu zun muram script:
Wanton Destruction=RGC (mana drain)


;tacvi stuff: Pixxt Kretv Krakxt
;mana drain:
Spirit Cleaver=mana dot
Aura of Fatigue=2x PB


;don-vishmitar
Vishimtar's Shadow=RC6 (hp drain)

;don-yar lir
Forcequake=RC6 (mana dot)

;dodh-bloodyeye
Bloodeye's Bellow=RC6
Bloodeye's Curse=RC6/RGC (dt)

;dodh-Emperor Draygun
Curse of the Lich=RC6 (mana dot)

;some epic 2 raids:
Chaos Affliction=RC6
Discordant Feedback=RC6 (mana dot)


[Druid_SelfBuffs]
1=Mask of the Wild
2=Nettlecoat
3=Wrath of the Wild
4=Steeloak Skin
5=Protection of Seasons
6=Circle of Summer

[Ranger_SelfBuffs]
1=Nature's Precision
2=Mask of the Stalker
3=Briarcoat
4=Ward of the Hunter
5=Eagle Eye
6=Call of Lightning

[Monk_SelfBuffs]
1=Chestwraps of Enlightenment

[Cleric_SelfBuffs]
1=Armor of the Pious
2=Conviction
3=Blessing of Devotion
4=Panoply of Vie

[Magician_SelfBuffs]
1=Phantom Shield
2=Elemental Aura
3=Elemental Barrier

[Wizard_SelfBuffs]
1=Ether Shield
2=Ether Skin
3=Elemental Barrier
4=pyromancy
5=Devoted Familiar

[Shadowknight_SelfBuffs]
1=Cloak of Discord
2=Shroud of Discord
3=Pact of Decay

[Shaman_SelfBuffs]
1=Wunshi's Focusing
2=Spirit of Fortitude
3=Spirit of Sense
4=Spirit of Perserverance

[Ranger_SelfBuffs]
1=Nature's Precision
2=Mask of the Stalker
3=Briarcoat
4=Ward of the Hunter
5=Eagle Eye
6=Call of Lightning
