body {
	font-size: 16px;
	font-family: bitstream vera sans,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F7F7DD;
}
a:link { color: #900; }
a:visited { color: #48468f; }
a:hover { color: #f20; }
img { border: 0; }

/* Design */
#middle {
	position: absolute;
	left: 250px;
	top: 70px;
	font-size: 14px;
	text-align: left;
	color: #777;
	padding-right: 40px;
}
#left-sep {
	position: absolute;
	left: 200px;
	top: 0px;
	height: 100%;
	background-color: #BAD6FC;
	font-size: 0;
	width: 4px;
	border-left: 1px solid #000;
	border-right: 1px solid #f5f5f5;
}
#footer {
	font-size: 12px;
	color: #777;
}
#header {
	background-color: #F7F7DD;
	height: 30px;
	border-bottom: 1px dashed #000;
}
#header-logo {
	position: absolute;
	z-index: 10;
	left: 220px;
	top: 0px;
}
#header-items {
	position: absolute;
	right: 10px;
	top: 13px;
	text-align: right;
	display: inline;
	font-size: 12px;
}
#header-items a {
	color: #000;
	text-decoration: none;
	padding: 7pt;
}
#header-items a:hover {
	color: #f20;
	cursor: pointer;
}

/* left menu */
#leftmenu {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 160px;
	font-size: 14px;
}
