/* objects are forum posts, reported sites etc */
.objectNormal {
	color: #595930;
	background-color: #E1E2B9;
	padding: 4px;
	line-height: 23px;
}
.objectCritical {
	color: #000;
	background-color: #FB9B9B;
	padding: 4px;
	line-height: 23px;
}

/* Should be used KONSEKVENT */
.msg_success {
	background-color: #66FF66;
	padding: 5px;
}
.msg_error {
	background-color: #FF6666;
	padding: 5px;
	line-height: 23px;
}

/* dictionary tooltip with overlib */
div.domTTstyle {
	border: 1px solid #333366;
	background-color: #333366;
}
div.domTTstyle .caption {
	font-family: Verdana, Helvetica;
	font-size: 10px;
	color: #FFFFFF;
}
div.domTTstyle .contents {
	font-size: 10px;
	font-family: Verdana, Helvetica;
	padding: 2px;
	background-color: #F1F1FF;
}

.definition:link, .definition:visited, .definition:hover { text-decoration: none; }

/*dictionary tooltip without overlib */
dfn {
	cursor: help;
	border-bottom: dashed 1px #707070;
}

/* infofield style */
.infofield {
	/*font-size: 14px;*/
}
.infofield_head ul li {
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	border-bottom-style: none;
}
.infofield_foot ul li {
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	border-top-style: none;
}
.infofield_foot {
	text-align: right;
}
.infofield_body {
	padding: 5px;
	background-color: #F0F0F0;
	color: #000;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
}
.infofield ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.infofield li {
	margin: 5px;
	display: inline;
}
.infofield ul li strong a {
	font-weight: normal;
	background-color: #F0F0F0;
	color: #000;
}
.infofield ul li a {
	text-decoration: none;
	color: #fff;
	background-color: #AAAAAA;
}
.infofield ul li a:hover {
	color: #fff;
	background-color: #CCCCCC;
}


/* för länkar */
a.bold_link {
	font-weight: bold;
}


/* sysop-kontrollpanelen */
.controlpanel {
	color: #000;
	background-color: #F0F0F0;
}

/* developer log entry for bug tracker */
.devlog {
	color: #000;
	background-color: #F0F0F0;
}




/* [code] style */
.bb_code {
	padding: 0 8px 0 8px;
}
.bb_code_body {
	font-family: monospace, courier new, arial, verdana;
	font-size: 12px;
	color: #000;
	background-color: #AAEEAA;
	border: 1px solid #A0A0A0;
	overflow-x: auto;
	white-space: pre;
	padding: 2px;
}

/* [quote] style */
.bb_quote {
	padding: 0 8px 0 8px;
}
.bb_quote_head {
	font-weight: bold;
	display: inline;
	padding: 0 5px 0 5px;
	-moz-border-radius: .4em .4em 0em 0em;
	color: #FFF;
	background-color: #004A80;
}
.bb_quote_body {
	overflow: auto;
	max-height: 250px;
	color: #000;
	background-color: #DDD;
	border: 1px solid #A0A0A0;
	padding: 2px;
}

/* [hr] style */
.bb_hr {
	color: #000;
	background-color: #000;
  border: 0;
  height: 2px;
}

/* urlrewritten links */
.bb_url {
	text-decoration: none;
}