img {
	border: 0;
}

.admin_stopword {
	border: 1px #888 solid;
	padding: 10px;
	background-color: #fff;
	width: 200px;
	float: left;
}

.event_log_notice {
	color: #000;
	background-color: #aaeeaa;
	padding: 4px;
}
.event_log_warning {
	color: #000;
	background-color: #eeaaaa;
	padding: 4px;
}
.event_log_error {
	color: #000;
	background-color: #ee5555;
	padding: 4px;
}

.ulli_menu {
	list-style: none;
	margin: 0;
	border-top: 0;
	padding-left: 0;
}
.ulli_menu li {
	background-color: #d0d0d0;
	border: 1px solid #888;
}
.ulli_menu li:hover {
	border: 1px solid #000;
}
.ulli_menu a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
.ulli_menu a:hover {
	background-color: #FFFFFF;
}
.ulli_menu ul {
	list-style: none;
}
.ulli_menu_current {
	background-color: #eee !important;
}

.clr {
	clear: both;
}

.bld {
	font-weight: bold;
}

/* [quote] style */
.bb_quote {
	padding: 8px;
}
.bb_quote_head {
	font-weight: bold;
	padding: 0 5px 0 5px;
	-moz-border-radius: 5px 5px 0 0;
	color: #FFF;
	background-color: #004A80;
	display: inline;
}
.bb_quote_body {
	overflow: auto;
	max-height: 250px;
	color: #000;
	background-color: #ddd;
	border: 1px solid #888;
	padding: 4px;
}


/* [code] style */
.bb_code {
	padding: 0 8px 0 8px;
}
.bb_code_head {
	font-weight: bold;
	padding: 0 5px 0 5px;
	-moz-border-radius: 5px 5px 0 0;
	color: #FFF;
	background-color: #9B3333;
	display: inline;
}
.bb_code_body {
	font-family: monospace, courier new, arial, verdana;
	font-size: 12px;
	color: #000;
	background-color: #ddd;
	border: 1px solid #888;
	overflow-x: auto;
	white-space: pre;
	padding: 2px;
}


/* [hr] style */
.bb_hr {
	color: #000;
	background-color: #000;
  border: 0;
  height: 2px;
}

/* urlrewritten links */
.bb_url {
	text-decoration: none;
}

/* [h1] style */
.bb_h1 {
	border-bottom: 2px solid #AAA;
	color: #D63636;
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.bb_h2 {
	border-bottom: 2px solid #AAA;
	color: #D63636;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.bb_h3 {
	border-bottom: 2px solid #AAA;
	color: #D63636;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}
