#top_logo { background: url('eld/logo.png'); }
#top_bg { background: url('eld/head_bg.png'); }

ul#menu_main { background-color: #BF3302; }
ul#menu_user { background-color: #F4B907; }

.smallHeader, .mediumHeader, .bigHeader {
	background-color: #BF3302;
}

.btnNormal:hover, .btnSelected {
	background-color: #FEF3B5;
}


.btnNormal, .btn2_min, .btn2_sml { 
	background-color: #F4B907;
}

.subHead { color: #BE3201; }
