body
{
    margin: 5px;
    padding: 0px;
    background-color: #000;
    color: #fff;
}

A {
	color: #555;
	font-family: verdana, arial;
	text-decoration: none;
}
A:hover { color: #FFFFFF; }

.titlemod {
	font: 16px verdana, arial;
	color: #000000;
	background-color: #E2E969;
}
.title {
	font: 16px verdana, arial;
	color: #FFFFFF;
}

.subtitlemod {
	font: 12px verdana, arial;
	color: #000000;
	background-color: #E2E969;
}
.subtitle {
	font: 12px verdana, arial;
	color: #FFFFFF;
}


#left_nav {
	position: absolute;

	height: 480px;
	width: 150px;
	top: 20px;
	left: 10px;
	
	color: #000;
	background-color: #cceeaa;
}

#main {
	position: absolute;

	min-width: 500px;
	top: 20px;
	left: 180px;

	color: #fff;
	background-color: #333;
	border: 1px #fff solid;
}
#main a {
	color: #bbb;
}