/*Stylesheet för IE 4+ och NS6x*/

body
{
    margin: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    list-style-type: square; 
    line-height: normal; 
    background-color: #000000;
    list-style-type: square;
    color: #ffffff;
}


FORM {
	font: 12px verdana, arial;
}

A:link		{ color: #999999; font-family: verdana, arial; font-weight: bold; text-decoration: none; }
A:visited	{ color: #999999; text-decoration: none; }
A:hover		{ color: #FFFFFF; text-decoration: none; }


.titlemod {
	font: 16px verdana, arial;
	color: #000000;
	background-color: #E2E969;
}
.title {
	font: 16px verdana, arial;
	color: #FFFFFF;
}

.subtitlemod {
	font: 12px verdana, arial;
	color: #000000;
	background-color: #E2E969;
}
.subtitle {
	font: 12px verdana, arial;
	color: #FFFFFF;
}


#left_nav {
	position: absolute;

	height: 480px;
	width: 150px;
	top: 20px;
	left: 10px;
	
	color: #000;
	background-color: #cceeaa;
}

#main {
	position: absolute;

	width: 800px;
	top: 20px;
	left: 180px;
	
	background-color: #000;
	border: 1px #fff solid;
}