body
{
    margin: 5px;
    padding: 0px;
    background-color: #000;
    color: #fff;
}

A {
	color: #555;
	font-family: verdana, arial;
	text-decoration: none;
}
A:hover { color: #FFFFFF; }

.titlemod {
	font: 16px verdana, arial;
	color: #000000;
	background-color: #E2E969;
}
.title {
	font: 16px verdana, arial;
	color: #FFFFFF;
}

.subtitlemod {
	font: 12px verdana, arial;
	color: #000000;
	background-color: #E2E969;
}
.subtitle {
	font: 12px verdana, arial;
	color: #FFFFFF;
}


#left_nav {
	position: absolute;

	width: 200px;
	top: 20px;
	left: 10px;
	
	color: #000;
	background-color: #cceeaa;
}

#main {
	position: absolute;

	min-width: 500px;
	top: 20px;
	left: 220px;

	color: #fff;
	background-color: #333;
	border: 1px #fff solid;
}
#main a {
	color: #bbb;
}

.side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #E1E2B9;
	border-top: 0;
}
.side-nav li {
	border: 1px solid #E1E2B9;
}
.side-nav li:hover {
	border: 1px solid #CCCCCC;
}
.side-nav a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
.side-nav a:hover {
	background-color: #FFFFFF;
}
.side-nav ul {
	list-style: none;
}
.side-nav strong a {
	font-weight: normal;
	background-color: #CCCCCC;
}