body {
	font-size: 16px;
	font-family: bitstream vera sans,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
a:link { color: #900; }
a:visited { color: #48468f; }
a:hover { color: #f20; }
img { border: 0; }

/* Design */
#middle {
	position: absolute;
	left: 250px;
	top: 70px;
	font-size: 14px;
	text-align: left;
	color: #777;
	padding-right: 40px;
}

#left-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #F1F1C9;
	width: 200px;
	height: 100%;
}
#left-sep {
	position: absolute;
	left: 200px;
	top: 0px;
	height: 100%;
	background-color: #BAD6FC;
	font-size: 0;
	width: 4px;
	border-left: 1px solid #000;
	border-right: 1px solid #f5f5f5;
}

#footer {
	font-size: 12px;
	color: #777;
}

/* left menu */
#leftmenu {
	left: 20px;
	top: 20px;
	width: 160px;
	font-size: 14px;
}