<div id="zoom_image_layer" style="display:none">
	
	<center>
		<img id="zoom_image" src="/gfx/ajax_loading.gif" alt="Image"/><br/>
		<input type="button" class="button" value="Close" onClick="hide_element_by_name('zoom_image_layer')"/> 
		<input type="button" class="button" value="Delete image" onClick="delete_selected_file()"/>
	</center>

</div>


<script type="text/javascript" src="/js/ext_flashobject.js"/>
<div id="zoom_audio_layer" style="display:none">

	<center>
		<div id="zoom_audio" style="width: 160px; height: 50px;"></div>
		<br/>
		<input type="button" class="button" value="Close" onClick="hide_element_by_name('zoom_audio_layer')"/> 
		<input type="button" class="button" value="Delete song" onClick="delete_selected_file()"/>
	</center>

</div>