html { overflow: -moz-scrollbars-vertical; }
html, body { height: 100%; margin: 0; padding: 0; }
body { background: #d9d9d8; text-align: center; font: 11px Verdana, Arial, sans-serif; }
#top { position: relative; height: 141px; width: 980px; z-index: 2; left: 28px; background-image: url('/_objects/temp_top.gif'); background-repeat: no-repeat; }
#shell { position: relative; z-index: 1; width: 1036px; height: 100%; text-align: left; margin: 0 auto 0 auto; }
#shell, #wrapper { background-image: url('/_objects/bg_main.gif'); background-repeat: repeat-y; background-color: #d9d9d8; }
#designWild { position: absolute; z-index: 3; top: 161px; left: 0; width: 1051px; height: 489px; background-image: url('/_objects/bg_wild.jpg'); background-repeat: no-repeat; }
#contentMain { position: relative; z-index: 4; left: 38px; margin-top: 27px; width: 960px; }
#contentMain p { margin: 0; }
#contentSmall { float: left; width: 398px; }
#contentSmallR { float: right; width: 398px; }
#contentBig { float: right; width: 542px; }
#contentBigL { float: left; width: 542px; }
.contentWhole { }
ul#menu { list-style-type: none; position: absolute; left: 40px; top: 90px; margin: 0; padding: 0; }
ul#umenu { list-style-type: none; position: absolute; left: 40px; top: 110px; margin: 0; padding: 0; }
ul#menu li { padding-right: 5px; display: inline; font-size: 15px; font-family: Arial; font-weight: bold; }
ul#umenu li { padding-right: 10px; display: inline; font-size: 13px; font-family: Arial; font-weight: bold; }
ul#menu a:hover, ul#umenu a:hover { background: transparent; }
ul#menu a { color: #8f7850; }
ul#umenu a { color: #ffffff; }
#foot { position: relative; height: 15px; width: 1036px; background-color: #d9d9d8; background-image: url('/_objects/bg_main.gif'); background-repeat: repeat-y; }
td { vertical-align: top; padding: 0; }
A:link, A:active, A:visited, A:hover { text-decoration: none; }
A.none:hover { background: transparent; }
A { color: #000; }
A.wht { color: #fff; }
.brd_on { border: 1px solid #ff9900; }
.nrm { font-weight: normal; }
A.got { color: red; }
A:hover { background-color: #fff; }
.v { font-family: verdana; font-size: 10px; }
.em {font-style: italic;}
A.wht:hover { color: #000; }
.cur { cursor: pointer; }
.bg_wht { background: #fff; }
.hd { padding-top: 30px; }
.about { color: #792a2c; }
form { margin: 0; padding: 0; }
table.wht td, table.wht a {color:#fff; }
table.wht a:hover {color: #000;}
img { border: 0; }
.pdg { padding: 7px 0 5px 0; }
.spac { border-bottom: 1px solid #fff; }
.mb { margin-bottom: 20px; }
.ml { margin-left: 10px; }
.mm { margin-left: 1px; }
.mr { margin-right: 20px; }
.clr { clear: both; height: 0px; margin: 0; overflow: hidden; }
hr { clear: both; border: 0; border-bottom: 1px solid #D0CFCB; padding: 8px 0 0 0; background: transparent; color: #f8f8f8; }
img.brd { border: 1px solid #fff; }
img.bbrd { border: 1px solid #b5b5b5; }
.user { font-style: normal; color: #000; font-weight: bold; }
.user_info { font-style: normal; color: #000; font-weight: normal; }
h1 { line-height: 17px; font-size: 18px; margin: 0 0 3px 0; font-family: Trebuchet MS; letter-spacing: -1px; font-weight: bold; }
h5 { font-size: 11px; padding: 0; margin: 0 0 5px 0; font-weight: normal; }
h4 { font-size: 11px; margin: 2px 0 5px 0; font-weight: bold; }
h6 { font-size: 10px; margin: 2px 0 5px 0; font-weight: bold; }
.sml { font-size: 10px; }
.l { float: left; }
.r { float: right; }
.btm { vertical-align: bottom; }
.bld { font-weight: bold; }
.bld_red { font-weight: bold; color: red;}
.on { color: #50803C; } .off { color: #8C1D20; }
.tl { font-family: Verdana; color: #333; font-size: 9px; letter-spacing: -1px; }
.mrg { margin: 5px; }
.wht { color: #fff; }
.i { display: inline; }
.cnt { text-align: center; }
.cnti { margin-left: auto; margin-right: auto; }
.lft { text-align: left; }
.rgt { text-align: right; }
textarea.txt { font-family: Arial; font-size: 11px; overflow: hidden; padding: 2px 0 0 2px; }
input.txt { border: 1px solid #b2b2b2; font-family: Arial; height: 18px; font-size: 11px; padding: 3px 0 0 2px; }
select { border: 1px solid #b2b2b2; font-family: Arial; height: 16px; font-size: 11px; padding: 2px 0 0 2px; }
/* BOXES */
.boxBig1 { position: relative; margin-bottom: 20px; width: 940px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxbig1_mid.png'); }
.boxBig1mid { width: 920px; padding: 10px 10px 10px 10px; /*min-height: 197px;*/ background: url('/_objects/bg_boxbig1.png'); background-repeat: no-repeat; }
.boxBig2 { position: relative; margin-bottom: 20px; width: 940px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxbig2_mid.png'); }
.boxBig2mid { width: 920px; padding: 10px 10px 10px 10px; /*min-height: 197px;*/ background: url('/_objects/bg_boxbig2.png'); background-repeat: no-repeat; }
.boxBig3 { position: relative; margin-bottom: 20px; width: 940px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxbig3_mid.png'); }
.boxBig3mid { width: 920px; padding: 10px 10px 10px 10px; /*min-height: 197px;*/ background: url('/_objects/bg_boxbig3.png'); background-repeat: no-repeat; }
.boxBig4 { position: relative; margin-bottom: 20px; width: 940px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxbig4_mid.png'); }
.boxBig4mid { width: 920px; padding: 10px 10px 10px 10px; /*min-height: 197px;*/ background: url('/_objects/bg_boxbig4.png'); background-repeat: no-repeat; }
.boxBig5 { position: relative; margin-bottom: 20px; width: 940px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxbig5_mid.png'); }
.boxBig5mid { width: 920px; padding: 10px 10px 10px 10px; /*min-height: 197px;*/ background: url('/_objects/bg_boxbig5.png'); background-repeat: no-repeat; }
.boxBig6 { position: relative; margin-bottom: 20px; width: 940px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxbig6_mid.png'); }
.boxBig6mid { width: 920px; padding: 10px 10px 10px 10px; /*min-height: 197px;*/ background: url('/_objects/bg_boxbig6.png'); background-repeat: no-repeat; }
.box1 { position: relative; margin-bottom: 20px; width: 388px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_box1_mid.png'); }
.box1mid { width: 368px; padding: 10px 10px 15px 10px; /*min-height: 206px;*/ background: url('/_objects/bg_box1.png'); background-repeat: no-repeat; }
.box2 { position: relative; margin-bottom: 20px; width: 388px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_box2_mid.png'); }
.box2mid { width: 368px; padding: 10px 10px 15px 10px; /*min-height: 206px;*/ background: url('/_objects/bg_box2.png'); background-repeat: no-repeat; }
.box3 { position: relative; margin-bottom: 20px; width: 388px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_box3_mid.png'); }
.box3mid { width: 368px; padding: 10px 10px 15px 10px; /*min-height: 206px;*/ background: url('/_objects/bg_box3.png'); background-repeat: no-repeat; }
.box4 { position: relative; margin-bottom: 20px; width: 388px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_box4_mid.png'); }
.box4mid { width: 368px; padding: 10px 10px 15px 10px; /*min-height: 200px;*/ background: url('/_objects/bg_box4.png'); background-repeat: no-repeat; }
.box5 { position: relative; margin-bottom: 20px; width: 388px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_box5_mid.png'); }
.box5mid { width: 368px; padding: 10px 10px 15px 10px; /*min-height: 200px;*/ background: url('/_objects/bg_box5.png'); background-repeat: no-repeat; }
.box6 { position: relative; margin-bottom: 20px; width: 388px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_box6_mid.png'); }
.box6mid { width: 368px; padding: 10px 10px 15px 10px; /*min-height: 200px;*/ background: url('/_objects/bg_box6.png'); background-repeat: no-repeat; }
.boxMid0 { position: relative; margin-bottom: 20px; width: 532px; overflow: hidden; }
.boxMid1 { position: relative; margin-bottom: 20px; width: 532px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxmid1_mid.png'); }
.boxMid1mid { width: 512px; padding: 10px 10px 10px 10px; /*min-height: 172px;*/ background: url('/_objects/bg_boxmid1.png'); background-repeat: no-repeat; }
.boxMid2 { position: relative; margin-bottom: 20px; width: 532px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxmid2_mid.png'); }
.boxMid2mid { width: 512px; padding: 10px 10px 10px 10px; /*min-height: 172px;*/ background: url('/_objects/bg_boxmid2.png'); background-repeat: no-repeat; }
.boxMid3 { position: relative; margin-bottom: 20px; width: 532px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxmid3_mid.png'); }
.boxMid3mid { width: 512px; padding: 10px 10px 10px 10px; /*min-height: 172px;*/ background: url('/_objects/bg_boxmid3.png'); background-repeat: no-repeat; }
.boxMid4 { position: relative; margin-bottom: 20px; width: 532px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxmid4_mid.png'); }
.boxMid4mid { width: 512px; padding: 10px 10px 10px 10px; /*min-height: 172px;*/ background: url('/_objects/bg_boxmid4.png'); background-repeat: no-repeat; }
.boxMid5 { position: relative; margin-bottom: 20px; width: 532px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxmid5_mid.png'); }
.boxMid5mid { width: 512px; padding: 10px 10px 10px 10px; /*min-height: 172px;*/ background: url('/_objects/bg_boxmid5.png'); background-repeat: no-repeat; }
.boxMid6 { position: relative; margin-bottom: 20px; width: 532px; border-bottom: 1px solid #b2b2b2; background: url('/_objects/bg_boxmid6_mid.png'); }
.boxMid6mid { width: 512px; padding: 10px 10px 10px 10px; /*min-height: 172px;*/ background: url('/_objects/bg_boxmid6.png'); background-repeat: no-repeat; }
