html,body { /* hack for div height:100% to work */
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	color: #000;
	background-color: #fff;
	font: 12px verdana;
}

a:link {
	color: #666;
}
a:visited {
	color: #666;
}
a:hover {
	color: #f20;
}

img {
	border: 0;
}

/* Default styles for input fields */
input, select {
	font: 12px verdana, arial;
	border-width: 1px;
	border-color: #000;
	text-align: left;
	background-color: #EEE;
}
input.button {
	font: 12px verdana, arial;
	border-width: 1px;
	border-color: #000;
	font-weight: bold;
	text-align: left;
	color: #FFF;
	background-color: #00346E;
}
.checkbox {
	color: #F0F0F0;
	background-color: #FFF;
	font: 20px verdana;
	border: #FFFFFF solid 0px;	/* ser fult ut i Opera 9 */
}
.radio {
	color: #F0F0F0;
	background-color: #FFF;
	font: 20px verdana;
}
textarea {
	font: 12px verdana, arial;
	color: #000000;
	border-style: inset;
	border-width: 1px;
	border-color: #888;
	background-color: #EEE;
}

.code { /* textarea with code snippet */
	font: 10px verdana;
	background-color: #99FF99;
}


/* main site design */
#menu_holder {
	width: 100%;
}

#menu_left {
	position: absolute;
	top: 10px;
	left: 10px;

	width: 180px;
	padding: 5px;
	float: left;
}
#menu_left a {
	color: #000;
	text-decoration: none;
}
#menu_left a:hover {
	color: #FF6600;
	font-weight: bold;
	border-bottom: 1px dashed #000; /* fixme: img link blir underlined */
}

#menu_middle {
	position: absolute;
	top: 10px;
	left: 200px;
	background-color: #EEE;
	padding-left: 4px;
}

#menu_middle h2 {
	width: 500px;
	border: solid 1px #E0E0E0;
	background-color: #B6B6B6;
	background-image: url(../design/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0.1em;	
}

#popup_middle {
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: #EEE;
}

#menu_middle a, #popup_middle a {
	color: #000;
	text-decoration: none;
}
#menu_middle a:hover, #popup_middle a:hover {
	color: #006688;
	border-bottom: 1px dashed #000; /* fixme: img link blir underlined */
}

#menu_footer {
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 99%;

	padding-top: 5px;	
	border-top: 1px #ccc solid;

	background-color: #FFF;
	color: #888;
	font-style: italic;
	font-size: 9px;
	/*display: none;*/
}

#menu_middle tr:hover {
	background-color: #AECC71;
}

#debug_layer {
	overflow: auto;
	padding: 4px 4px 4px 4px;
	width: 99%;
	border: #000000 1px solid;
	color: #000;
	background-color:#E0E0E0;
}


/* Default DOM Tooltip Style */
div.domTT {
	border: 1px solid #333333;
	background-color: #333333;
}
div.domTT .caption {
	font-family: serif;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 2px;
	color: #FFFFFF;
}
div.domTT .contents {
	font-size: 12px;
	font-family: sans-serif;
	padding: 3px 2px;
	background-color: #F1F1FF;
}


/* information box layout */
.bb_quote {
	padding: 0 8px 0 8px;
}
.bb_quote_head {
	font-weight: bold;
	display: inline;
	padding: 0 5px 0 5px;
	-moz-border-radius: .4em .4em 0em 0em;
	color: #FFF;
	background-color: #004A80;
}
.bb_quote_body {
	overflow: auto;
	max-height: 250px;
	color: #000;
	background-color: #DDD;
	border: 1px solid #A0A0A0;
	padding: 2px;
}

/* table styling */

.tr_normal {
	background-color: #EEE;
}

.tr_grayed {
	background-color: #AAA;
}

/* error messages */
.objectCritical {
	color: #000;
	background-color: #FB9B9B;
}

/* subscription settings */
#setting_search_phrases,
#setting_search_popularity,
#setting_google_pr,
#setting_google_indexing,
#setting_google_search_phrase_ranking,
#setting_browser_popularity,
#setting_os_popularity {
	border: 1px solid #EEE;
}
#setting_search_phrases:hover,
#setting_search_popularity:hover,
#setting_google_pr:hover,
#setting_google_indexing:hover,
#setting_google_search_phrase_ranking:hover,
#setting_browser_popularity:hover,
#setting_os_popularity:hover {
	background-color: #FFF;
	border: 1px solid #000;
}




/* calendar pieces */
.cal_holder {
	width: 280px; /* 35*8 */
}

.cal_holder_body {
}

.cal_arrow_left, .cal_arrow_leftgray, .cal_arrow_right, .cal_arrow_rightgray {
	width: 20px;
	height: 23px;

	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.cal_arrow_left:hover, .cal_arrow_right:hover {
	width: 18px;
	height: 21px;

	background-color: #88ee88;
	border: 1px solid #888;
}

.cal_arrow_left {
	background-image: url(../design/arrow_left.png);
	cursor: pointer;
}

.cal_arrow_right {
	background-image: url(../design/arrow_right.png); /* todo: går det flippa arrow_left.png istället för å spara lite bandbredd*/
	cursor: pointer;
}

.cal_arrow_leftgray {
	background-image: url(../design/arrow_left_gray.png);
}

.cal_arrow_rightgray {
	background-image: url(../design/arrow_right_gray.png);
}

.cal_header, .cal_ts_header, .cal_selection_header {
	height: 21px;

	background-color: #ddd;
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;

	padding-top: 2px;
	text-align: center;
}

.cal_header {
	width: 240px;
	float: left;
}

.cal_weekday {
	width: 35px;
	height: 19px;
	background-color: #fff;
	float: left;

	text-align: center;
	text-transform: lowercase;
	color: #0000ff;
	
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.cal_weekhead {
	width: 34px;
	height: 19px;
	background-color: #fff;
	float: left;

	text-align: center;
	text-transform: lowercase;
	color: #000;
	
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.cal_weeknum {
	width: 34px;
	height: 20px;
	background-color: #fff;
	float: left;
	text-align: center;

	border-right: 1px solid #ccc;
	cursor: pointer;
}

.cal_day_othermonth {
	width: 35px;
	height: 20px;
	
	background-color: #fff;
	color: #bbb;
	float: left;
	text-align: center;
}

.cal_day_thismonth_empty, .cal_day_thismonth_data {
	width: 35px;
	height: 20px;

	background-color: #fff;
	color: #000;
	float: left;
	text-align: center;
}

.cal_day_thismonth_data {
	font-weight: bold;
	cursor: pointer;
}

.cal_day_thismonth_empty {
	cursor: default;
}

.cal_day_thismonth_empty:hover, .cal_day_thismonth_data:hover, .cal_week_hover {
	background-color: #aaeeaa;
	border: 1px solid #888;
	width: 33px;
	height: 18px;
}

/* used when highlighting all days with data for one week */
.cal_week_hover {
	float: left;
	text-align: center;

	font-weight: bold;
}

/* expand/shrink piece used by time selector & current selection boxes */
.cal_piece_expand, .cal_piece_shrink {
	width: 20px; 
	height: 23px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	float: right;
}

.cal_piece_expand {
	background-image: url(../design/arrow_down.png);
}

.cal_piece_shrink {
	background-image: url(../design/arrow_up.png);
}


/* calendar component: time selector */
.cal_ts_holder {
	width: 280px;
	background-color: #ddd;
	float: left;
}

.cal_ts_header {
	width: 260px;
	height: 23px;
	padding: 0px;

	float: left;
}

.cal_ts_body {
	width: 278px;
	float: left;
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.cal_ts_object_grayed {
	padding: 4px;
}

.cal_ts_object_active {
	background-color: #aaeeaa;
	padding: 4px;
}

.cal_ts_object_grayed:hover {
	background-color: #eee;
}

.cal_ts_radio {
	width: 25px;
	height: 100%;
	float: left;
	/*background-color: #dd99AA;*/
	vertical-align: middle; /* fixme: centrera radioknapparna vertikalt, vertical-align har ingen effekt */
}

.cal_ts_selection {
	width: 245px;
	float: left;
}

#cal_ts_object_freeform {
	height: 36px;
}

#cal_ts_object_predefined {
	height: 18px;
}



/* calendar "current selection" style */
#cal_selection_holder {
	width: 280px;

	background-color: #ddd;
	float: left;
}

.cal_selection_header {
	width: 260px;
	height: 23px;
	padding: 0px;
	float: left;
}

#cal_selection_body {
	width: 278px;
	float: left;
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


/* used by calendar ajax loader thingy */
.ajax_content_progress {
	width: 100%;
	height: 120px;
	background-color: #fff;
	
	background-image: url(../design/ajax_loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.ajax_content_loaded {
	width: 100%;
	height: 120px;
	background-color: #fff;
}

/*.ajax_content_loaded a:hover {
	background-color: #aaeeaa;
	border: 0 !important;
}*/